.recipes{
    margin-top:37px;
}
.recipeContainer{
    margin-top:37px;

}
.search-form
{
    margin-top:67px;
   
}
.recipe-card {
    /* box-shadow: 0 23px 8px 0 orange; */
    transition: 0.9s;
    width: 40%;

    display: flex;    
    flex-direction: column;
    background: 
        linear-gradient(
            black,
            rgb(66, 57, 3));
    margin: 1em;
    padding: 1em;
    box-shadow: 0 15px 10px -10px rgba(0, 212, 0, 0.6);
    flex: 0 1 calc(25% - 1em);
    margin-bottom: 2em;	
    justify-content: center;
    display: inline-block;
    height: auto;
    align-self: auto;
 
   
}

.recipe-card:hover {
    box-shadow: 0 8px 16px 0 rgba(216, 10, 72, 0.37);
}

.container {
    padding: 2px 16px;
}
.recipe--image{
    width:100%;
    display: flex;
    flex-direction: column;
    background: 
        linear-gradient(
            black,
            rgb(54, 4, 6));
    margin: .2em;
    /* padding: 1em; */
    box-shadow: 0 15px 10px -10px rgba(136, 44, 44, 0.6);
    border-radius: 5px;
}
.rec-link{
    font-size: 20px;
    color:orangered;
    margin-bottom: 234px;
    position: absolute;
bottom: -120px;
text-align: center;
}