.dessert{
    margin-top:37px;
}
.dessertContainer{
    margin-top:37px;

}
.search-form
{
    margin-top:67px;
   
}
.dessert-card {
    /* box-shadow: 0 23px 8px 0 orange; */
    transition: 0.9s;
    width: 40%;

    display: flex;    
    flex-direction: column;
    background: 
        linear-gradient(
            black,
            rgb(230, 120, 18));
    margin: 1em;
    padding: 1em;
    box-shadow: 0 15px 10px -10px rgba(212, 145, 0, 0.863);
    flex: 0 1 calc(25% - 1em);
    margin-bottom: 2em;	
    justify-content: center;
    display: inline-block;
    height: auto;
    align-self: auto;
 
   
}

.dessert-card:hover {
    box-shadow: 0 8px 16px 0 rgba(216, 10, 72, 0.37);
}

.container {
    padding: 2px 16px;
}
.dessert--image{
    width:100%;
    /* display: flex;
    flex-direction: column; */
    display: block;
    box-sizing: border-box;
     justify-content: space-around;
    flex-flow: row;
    background: 
        linear-gradient(
            black,
            rgb(36, 211, 45));
    margin: .2em;
    /* padding: 1em; */
    box-shadow: 0 15px 10px -10px rgba(226, 10, 10, 0.575);
    border-radius: 5px;
}
.des-link{
    font-size: 20px;
    color:rgb(48, 38, 6);
    margin-bottom: 234px;
    position: absolute;
bottom: -120px;
text-align: center;
}
.dessert-detail{
    margin-top:30px;
}